.new_mess {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 32px;
    height: 32px;
    opacity: 1;
    transition-duration: 0.4s;
    z-index: 1;
}
#message_plus {
    position: absolute;
    left: 50px;
    width: 32px;
    height: 32px;
    opacity: 1;
    font-weight: bolder;
    transition-duration: 0.4s;
    color: white;
}
.new_mess_container {
    background-color: #337ab7;
    position: absolute;
    padding-right: 120px;
    left: 12px;
    top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    opacity: 1;
    vertical-align: middle;
    text-align: center;
}
.new_mess:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
}
.new_mess:before, .new_mess:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: rgb(255, 255, 255);
}
.new_mess:before {
    transform: rotate(0deg);
    transition-duration: 0.4s;
}
.new_mess:after {
    transform: rotate(90deg);
    transition-duration: 0.4s;
}

.new_mess_close {
    transition-duration: 0.4s;
}
.new_mess_close:before {
    transform: rotate(135deg);
    transition-duration: 0.4s;
}
.new_mess_close:after {
    transform: rotate(225deg);
    transition-duration: 0.4s;
}
.new_mess_close:hover {
    transform: scale(1.2);
    transition-duration: 0.4s;
}