canvas {box-shadow: 4px 6px 15px grey; padding: 2px; border-radius: 10px;}
.respuesta span {display: block; box-shadow: 4px 6px 15px grey; padding: 50px; border-radius: 10px; margin-top: 30px;}

.filtro_edificio {
    margin-top: 50px;
}
#qreader {
    text-align: center;
}